@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: Wotfard;
}

body {
  background-color: hsl(220deg, 0%, 10%);
  margin: 0;
  padding: 0;
  color: white;
}


.average-rating {
  font-size: 1.25rem;
  margin-top: 32px;
  color: gold;
  font-style: italic;
}

.author::before{
  content:"—";
}

.book-img {
  width: 100%;
  /*
    We'll learn more about this fancy
    property in a future module!
  */
  filter:
    drop-shadow(
      -8px
      32px
      10px
      hsl(260deg 50% 4% / 0.5)
    );
}
